<!DOCTYPE html>
<html style="overflow-y: auto !important;">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Macrocenter TETT Takip</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <style>
    .lds-hourglass {
      display: block;
      position: relative;
      width: 64px;
      height: 64px;
      margin: auto;
    }
    .lds-hourglass:after {
      content: " ";
      display: block;
      border-radius: 50%;
      width: 0;
      height: 0;
      margin: 6px;
      box-sizing: border-box;
      border: 26px solid #cef;
      border-color: #cef transparent #cef transparent;
      animation: lds-hourglass 1.2s infinite;
    }
    @keyframes lds-hourglass {
      0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
      }
      50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      }
      100% {
        transform: rotate(1800deg);
      }
    }
  </style>
</head>

<body>
  <div style="padding: 1rem; text-align: center;" class="has-background-black">
    <h1 class="title has-text-white is-size-4">Macrocenter TETT Takip</h2>
  </div>
  <section class="section" style="padding: 0;">
    <div class="container" id="app">
      <div style="display: flex; justify-content: space-between; align-items: center; text-align: right; padding: 1rem"
        v-show="!loading">
        <span class="float: left;" style="display: none;" v-show="user">{{ user ? user.email : '' }}</span>
        <a class="button is-primary" style="display: none;" v-show="user" @click="openProductAdd">Ekle</a>
        <a class="button is-danger" style="display: none;" v-show="user" @click="logout">Çıkış Yap</a>
        <a class="button is-success" style="display: none;" v-show="!user" @click="openLoginModal">Giriş Yap</a>
        <a class="button is-info" style="display: none;" v-show="!user" @click="openRegisterModal">Kayıt Ol</a>
      </div>
      <div style="display: none;" class="lds-hourglass" v-show="loading"></div>
      <div style="display: none;" v-show="!loading && user">
        <div style="display: flex; justify-content: space-between; margin: 0.5rem;">
          <p class="control has-icons-left" style="margin-left: 0.5rem;">
            <input class="input" type="text" v-model="searchText" placeholder="Mal No">
            <span class="icon is-small is-left">
              <i class="fas fa-search"></i>
            </span>
          </p>
          <a class="button is-info" style="display: none; margin: 0 0.5rem;" v-show="user" @click="search">Ara</a>
          <div class="select" style="margin-right: 0.5rem;">
            <select v-model="filterDays" id="filterDays" @change="filterResults">
              <option value="30">1 Ay</option>
              <option value="60">2 Ay</option>
              <option value="0">Tümü</option>
            </select>
          </div>
        </div>
        <div class="notification" style="text-align: center;" style="display: none;" v-show="products.length > 0">Gösterilen
          kayıt: {{ showingRecords }}</div>
        <table class="table is-striped is-fullwidth" style="display: none;" v-show="products.length > 0">
          <thead>
            <tr>
              <th>MN</th>
              <th>TETT</th>
              <th>RK</th>
              <th>KG</th>
              <th>Sil</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="product, index in products" :key="product.id">
              <td>{{ product.productNumber }}</td>
              <td>{{ tettToDate(product.tett) }}</td>
              <td>{{ product.rk }}</td>
              <td>{{ calculateDaysLeft(product.tett) }}</td>
              <td>
                <a class="button is-danger is-outlined is-small" @click="deleteProduct(product.id)">
                  <span class="icon is-small"><i class="fas fa-trash"></i></span>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div id="addNewProductModal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card" style="padding: 1rem">
          <header class="modal-card-head">
            <p class="modal-card-title">Yeni Ürün Ekle</p>
            <button @click="closeAddNewProductModal" class="delete" aria-label="close"></button>
          </header>
          <section class="modal-card-body">
            <form>
              <div class="field">
                <label class="label">Mal No</label>
                <div class="control">
                  <input class="input" v-model="productNumber" type="text" maxlength="8">
                </div>
              </div>
              <div class="field">
                <label class="label">Ürün TETT</label>
                <div class="control">
                  <input type="text" class="input" id="tett">
                </div>
              </div>
              <div class="field">
                <label class="label">Reyondan Kaldır</label>
                <div class="control">
                  <input class="input" type="number" v-model="rk" min="0">
                </div>
              </div>
            </form>
          </section>
          <footer class="modal-card-foot">
            <button class="button is-primary" @click="addNewProduct">Ekle</button>
            <button class="button" @click="closeAddNewProductModal">İptal</button>
          </footer>
        </div>
      </div>

      <div id="loginModal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card" style="padding: 1rem">
          <header class="modal-card-head">
            <p class="modal-card-title">Giriş Yap</p>
            <button @click="closeLoginModal" class="delete" aria-label="close"></button>
          </header>
          <section class="modal-card-body">
            <form>
              <div class="field">
                <label class="label">E-Posta</label>
                <div class="control">
                  <input class="input" v-model="login_email" type="email">
                </div>
              </div>
              <div class="field">
                <label class="label">Parola</label>
                <div class="control">
                  <input class="input" v-model="login_password" type="password">
                </div>
              </div>
            </form>
          </section>
          <footer class="modal-card-foot">
            <button class="button is-primary" @click="login">Giriş Yap</button>
            <button class="button" @click="closeLoginModal">İptal</button>
          </footer>
        </div>
      </div>

      <div id="registerModal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card" style="padding: 1rem">
          <header class="modal-card-head">
            <p class="modal-card-title">Kayıt Ol</p>
            <button @click="closeRegisterModal" class="delete" aria-label="close"></button>
          </header>
          <section class="modal-card-body">
            <form>
              <div class="field">
                <label class="label">E-Posta</label>
                <div class="control">
                  <input class="input" v-model="register_email" type="email" required>
                </div>
              </div>
              <div class="field">
                <label class="label">Parola</label>
                <div class="control">
                  <input class="input" v-model="register_password" type="password" required>
                </div>
              </div>
            </form>
          </section>
          <footer class="modal-card-foot">
            <button class="button is-primary" @click="register">Kayıt Ol</button>
            <button class="button" @click="closeRegisterModal">İptal</button>
          </footer>
        </div>
      </div>
    </div>
  </section>
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.5.9/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.5.9/firebase-firestore.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.5.9/firebase-auth.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
    $(function () {
      $("#tett").datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: "dd M yy"
      });
    })
    const config = {
      apiKey: "AIzaSyBggElqNjUMq8PdlCwfeiymcd30ffUIVi4",
      authDomain: "logistus-6a0ad.firebaseapp.com",
      databaseURL: "https://logistus-6a0ad.firebaseio.com",
      projectId: "logistus-6a0ad",
      storageBucket: "logistus-6a0ad.appspot.com",
      messagingSenderId: "357261525118"
    };
    firebase.initializeApp(config);
    // Initialize Cloud Firestore through Firebase
    let db = firebase.firestore();
    // Disable deprecated features
    db.settings({
      timestampsInSnapshots: true
    });

    let app = new Vue({
      el: '#app',
      data: {
        products: [],
        rk: '',
        productNumber: '',
        id: '',
        user: null,
        login_email: '',
        login_password: '',
        register_email: '',
        register_password: '',
        loading: true,
        showingRecords: 0,
        searchText: '',
        filterDays: 30,
      },
      mounted() {
        let filterTime = (new Date().getTime() / 1000) + (this.filterDays * 24 * 60 * 60)
        firebase.auth().onAuthStateChanged((user) => {
          if (user) {
            this.user = user
            let productsRef = db.collection("products")
            let query = productsRef.where("tett", "<=", filterTime).where("uid", "==", user.uid)
            query.orderBy("tett", "asc").get().then((querySnapshot) => {
              this.showingRecords = querySnapshot.size
              querySnapshot.forEach((doc) => {
                this.products.push(doc.data())
              })
              this.loading = false
            })
          } else {
            this.loading = false
          }
        })
      },
      methods: {
        changeTett() {
          this.tett = document.getElementById("tett").value
        },
        tettToDate(epoch) {
          return new Date(epoch * 1000).getDate() + "." + (new Date(epoch * 1000).getMonth() + 1) + "." + new Date(epoch * 1000).getFullYear()
        },
        calculateDaysLeft(epoch) {
          return Math.round(((epoch) - (new Date().getTime() / 1000)) / 60 / 60 / 24)
        },
        openProductAdd() {
          document.getElementById("addNewProductModal").classList.add("is-active")
        },
        openLoginModal() {
          document.getElementById("loginModal").classList.add("is-active")
        },
        openRegisterModal() {
          document.getElementById("registerModal").classList.add("is-active")
        },
        closeLoginModal() {
          document.getElementById("loginModal").classList.remove("is-active")
        },
        closeRegisterModal() {
          document.getElementById("registerModal").classList.remove("is-active")
        },
        closeAddNewProductModal() {
          document.getElementById("addNewProductModal").classList.remove("is-active")
        },
        filterResults() {
          this.loading = true
          this.products = []
          let filterTime = (new Date().getTime() / 1000) + (this.filterDays * 24 * 60 * 60)
          if (this.filterDays > 0) {
            db.collection("products")
              .where("tett", "<=", filterTime)
              .where("uid", "==", this.user.uid)
              .orderBy("tett", "asc").get().then((querySnapshot) => {
                this.showingRecords = querySnapshot.size
                querySnapshot.forEach((doc) => {
                  this.products.push(doc.data())
                })
                this.loading = false
              })
          } else {
            db.collection("products")
              .where("uid", "==", this.user.uid)
              .orderBy("tett", "asc").get().then((querySnapshot) => {
                this.showingRecords = querySnapshot.size
                querySnapshot.forEach((doc) => {
                  this.products.push(doc.data())
                })
                this.loading = false
              })
          }
        },
        search() {
          let filterTime = (new Date().getTime() / 1000) + (this.filterDays * 24 * 60 * 60)
          this.loading = true
          this.products = []
          if (this.searchText) {
            db.collection("products")
              .where("tett", "<=", filterTime)
              .where("uid", "==", this.user.uid)
              .where("productNumber", "==", this.searchText)
              .orderBy("tett", "asc").get().then((querySnapshot) => {
                this.showingRecords = querySnapshot.size
                querySnapshot.forEach((doc) => {
                  this.products.push(doc.data())
                })
                this.loading = false
              })
          } else {
            db.collection("products")
              .where("tett", "<=", filterTime)
              .where("uid", "==", this.user.uid)
              .orderBy("tett", "asc").get().then((querySnapshot) => {
                this.showingRecords = querySnapshot.size
                querySnapshot.forEach((doc) => {
                  this.products.push(doc.data())
                })
                this.loading = false
              })
          }
        },
        addNewProduct: function () {
          db.collection("products").add({
            productNumber: this.productNumber,
            tett: new Date(document.getElementById("tett").value).getTime() / 1000,
            rk: this.rk
          })
            .then((docRef) => {
              // add id field
              docRef.update({ id: docRef.id, uid: this.user.uid })
              document.location.reload()
            })
            .catch(function (error) {
              alert("Error: " + error)
            });
        },
        deleteProduct(id) {
          let isOk = confirm("Emin misin?")
          if (isOk) {
            db.collection("products").doc(id).delete()
              .then(() => {
                document.location.reload()
              }).catch(error => {
                alert(error)
              })
          }
        },
        login() {
          firebase.auth().signInWithEmailAndPassword(this.login_email, this.login_password).catch((error) => {
            var errorMessage = error.message;
            alert(errorMessage)
          })
          this.user = firebase.auth().currentUser
          document.getElementById("loginModal").classList.remove("is-active")
        },
        register() {
          firebase.auth().createUserWithEmailAndPassword(this.register_email, this.register_password).catch((error) => {
            var errorMessage = error.message;
            alert(errorMessage)
          })
          this.user = firebase.auth().currentUser
          document.getElementById("registerModal").classList.remove("is-active")
        },
        logout() {
          firebase.auth().signOut().then(() => {
            this.user = null
          })
        }
      }
    })
  </script>
</body>

</html>