<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Macrocenter TETT Takip</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
  <div class="lds-circle" v-show="!loading">
    <div></div>
  </div>
  <div style="padding: 1rem 1.5rem; text-align: center;" class="has-background-black">
    <h1 class="title has-text-white is-size-4">Macrocenter TETT Takip</h2>
  </div>
  <section class="section" style="padding: 1rem 1.5rem;">
    <div class="container" id="app">
      <div style="text-align: right;" style="display: none;" v-show="!loading">
        <a class="button is-primary" style="display: none;" v-show="user" @click="openProductAdd">Ekle</a>
        <a class="button is-danger" style="display: none;" v-show="user" @click="logout">Çıkış Yap</a>
        <a class="button is-success" style="display: none;" v-show="!user" @click="openLoginModal">Giriş Yap</a>
      </div>
      <table class="table is-striped is-fullwidth" style="display: none;" v-show="products.length>0">
        <thead>
          <tr>
            <th>Mal No</th>
            <th>TETT</th>
            <th>KG</th>
            <th>RK</th>
            <th v-show="user" style="display: none;">Sil</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="product, index in products" :key="product.id">
            <td>{{ product.productNumber }}</td>
            <td>{{ tettToDate(product.tett) }}</td>
            <td>{{ calculateDaysLeft(product.tett) }}</td>
            <td>{{ product.rk }}</td>
            <td v-show="user" style="display: none;">
              <a class="button is-danger is-outlined is-small" @click="deleteProduct(index, product.id)">
                <span class="icon is-small"><i class="fas fa-trash"></i></span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <div id="addNewProductModal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card" style="padding: 1rem">
          <header class="modal-card-head">
            <p class="modal-card-title">Yeni Ürün Ekle</p>
            <button @click="closeAddNewProductModal" class="delete" aria-label="close"></button>
          </header>
          <section class="modal-card-body">
            <form>
              <div class="field">
                <label class="label">Mal No</label>
                <div class="control">
                  <input class="input" v-model="productNumber" type="text">
                </div>
              </div>
              <div class="field">
                <label class="label">Ürün TETT</label>
                <div class="control">
                  <input class="input" v-model="tett" type="date">
                </div>
              </div>
              <div class="field">
                <label class="label">Reyondan Kaldır</label>
                <div class="control">
                  <input class="input" type="number" v-model="rk" min="0">
                </div>
              </div>
            </form>
          </section>
          <footer class="modal-card-foot">
            <button class="button is-primary" @click="addNewProduct">Ekle</button>
            <button class="button" @click="closeAddNewProductModal">İptal</button>
          </footer>
        </div>
      </div>

      <div id="loginModal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card" style="padding: 1rem">
          <header class="modal-card-head">
            <p class="modal-card-title">Giriş Yap</p>
            <button @click="closeLoginModal" class="delete" aria-label="close"></button>
          </header>
          <section class="modal-card-body">
            <form>
              <div class="field">
                <label class="label">E-Posta</label>
                <div class="control">
                  <input class="input" v-model="email" type="email" required>
                </div>
              </div>
              <div class="field">
                <label class="label">Parola</label>
                <div class="control">
                  <input class="input" v-model="password" type="password" required>
                </div>
              </div>
            </form>
          </section>
          <footer class="modal-card-foot">
            <button class="button is-primary" @click="login">Giriş Yap</button>
            <button class="button" @click="closeLoginModal">İptal</button>
          </footer>
        </div>
      </div>
    </div>
  </section>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.5.9/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.5.9/firebase-firestore.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.5.9/firebase-auth.js"></script>

  <script>
    const config = {
      apiKey: "AIzaSyBggElqNjUMq8PdlCwfeiymcd30ffUIVi4",
      authDomain: "logistus-6a0ad.firebaseapp.com",
      databaseURL: "https://logistus-6a0ad.firebaseio.com",
      projectId: "logistus-6a0ad",
      storageBucket: "logistus-6a0ad.appspot.com",
      messagingSenderId: "357261525118"
    };
    firebase.initializeApp(config);
    // Initialize Cloud Firestore through Firebase
    let db = firebase.firestore();
    // Disable deprecated features
    db.settings({
      timestampsInSnapshots: true
    });

    let app = new Vue({
      el: '#app',
      data: {
        products: [],
        newProduct: {},
        tett: '',
        rk: '',
        productNumber: '',
        id: '',
        user: null,
        email: '',
        password: '',
        loading: true
      },
      mounted() {
        db.collection("products").orderBy("tett", "asc").get().then((querySnapshot) => {
          querySnapshot.forEach((doc) => {
            this.products.push(doc.data())
          })
        });
        firebase.auth().onAuthStateChanged((user) => {
          this.user = user
          this.loading = false
        })
      },
      methods: {
        tettToDate(epoch) {
          return new Date(epoch * 1000).getDate() + "." + (new Date(epoch * 1000).getMonth() + 1) + "." + new Date(epoch * 1000).getFullYear()
        },
        calculateDaysLeft(epoch) {
          return Math.round(((epoch) - (new Date().getTime() / 1000)) / 60 / 60 / 24)
        },
        openProductAdd() {
          document.getElementById("addNewProductModal").classList.add("is-active")
        },
        openLoginModal() {
          document.getElementById("loginModal").classList.add("is-active")
        },
        closeLoginModal() {
          document.getElementById("loginModal").classList.remove("is-active")
        },
        closeAddNewProductModal() {
          document.getElementById("addNewProductModal").classList.remove("is-active")
        },
        addNewProduct: function () {
          db.collection("products").add({
            productNumber: this.productNumber,
            tett: new Date(this.tett).getTime() / 1000,
            rk: this.rk
          })
            .then((docRef) => {
              // close modal
              document.getElementById("addNewProductModal").classList.remove("is-active")
              // add id field
              docRef.update({ id: docRef.id })
              // add new product to products array at Vue
              this.newProduct.id = docRef.id
              this.newProduct.productNumber = this.productNumber
              this.newProduct.tett = new Date(this.tett).getTime() / 1000
              this.newProduct.rk = this.rk
              this.products.push(this.newProduct)
              // clear data
              this.newProduct = {}
              this.productNumber = ""
              this.rk = ""
              this.tett = ""
            })
            .catch(function (error) {
              alert("Error: " + error)
            });
        },
        deleteProduct(index, id) {
          db.collection("products").doc(id).delete()
            .then(() => {
              this.products.splice(index, 1)
            }).catch(error => {
              alert(error)
            })
        },
        login() {
          firebase.auth().signInWithEmailAndPassword(this.email, this.password).catch((error) => {
            var errorCode = error.code;
            var errorMessage = error.message;
            alert(errorMessage)
          });
          this.user = firebase.auth().currentUser
          document.getElementById("loginModal").classList.remove("is-active")
        },
        logout() {
          firebase.auth().signOut().then(() => {
            this.user = null
          })
        }
      }
    })
  </script>
</body>

</html>